.evento {
    
    // border-left: 20px black solid transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px 0px;
    padding: 10px;
    height: 100px;

    .data {
        width: 60px;
        float: left;
        text-align: center;
        p { margin: 2px}
        .mes { font-size: 25px; font-weight: bolder; }
    }


    .descricao {
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.normal {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    // background-color: lightgrey;
}