<ion-content>
  <div id="header2" class="header-pequeno">
    <ion-buttons slot="start" id="btn-voltar">
      <ion-back-button defaultHref="/home"></ion-back-button> VOLTAR
    </ion-buttons>
  
    <h1>Odontologia</h1>
  </div> 

  <ion-list>
    <!-- FICHA AVALIAÇÃO -->
    <ion-item button  routerLink="/prontuarios/odontologia/ficha">
      <ion-label>Ficha de Avaliação</ion-label>
    </ion-item>
    <!-- EVOLUÇÕES-->
    <ion-item button routerLink="/prontuarios/evolucoes">
      <ion-label>Evoluções</ion-label>
    </ion-item>
    <!-- MEDICAMENTO E SUPLEMENTOS-->
    <ion-item button routerLink="/prontuarios/medicamentos/ativo">
      <ion-label>Medicamentos/Suplementos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>