ion-content {
    --background: white;
    padding-bottom: 10px;
}

#foto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    img { border-radius: 200px;  background-color: lightblue; width: 250px;}
    p { position: absolute; color: white; font-size: 30px; width: 220px; text-align: center; text-shadow: 2px 0px 0px black; }
}

.anos { text-align: right; width: 100%;}