<ion-content>
  <div id="header" class="header-medio">
    <ion-buttons slot="start" id="btn-voltar">
      <ion-back-button defaultHref="/home"></ion-back-button> VOLTAR
    </ion-buttons>

    <h1>Calendário</h1>
    <h2>Lista de eventos</h2>
  </div>

  
  <!-- BOTÂO ADICIONAR NOVO ALUNO -->
  <ion-fab vertical="top" horizontal="end" *ngIf="usuario.nivel_acesso == 1">
    <ion-fab-button color="light" routerLink="/calendario/novo">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="conteudo">
    <data-calendario [evento]="evento" *ngFor="let evento of eventos" (click)="exibirObservacao(evento)"></data-calendario>
  </div>
</ion-content>
