<ion-content class="content-white">
  <div id="header2" class="header-pequeno">
    <ion-buttons slot="start" id="btn-voltar">
      <ion-back-button defaultHref="/home"></ion-back-button> VOLTAR
    </ion-buttons>
  
    <h1>Consulta Clínica</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="salvar()">
    
    <!-- DATA DO PRONTUARIO -->
    <ion-item>
      <ion-label text-wrap>Data da avaliação:<ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime display-format="DD/MM/YYYY" formControlName="data" cancelText="Cancelar" doneText="Ok"[disabled]="!acessoEdicao"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="form.get('data').invalid && form.get('data').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Data da avaliação é obrigatório
      </ion-text>
    </ion-item>

    <!-- ====================== DESEMPENHO FUNCIONAL ============================ -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label class='titulo-secao'>Consulta Clínica</ion-label>
      </ion-item-divider>

      <!-- PRESSÃO ARTERIAL -->
      <ion-item>
        <ion-label text-wrap>Pressão arterial (mmHg)</ion-label>
        <ion-input  class="ion-text-right" formControlName="pressao_arterial" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>Peso (kg)</ion-label>
        <ion-input  class="ion-text-right" formControlName="peso" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- IMC (kg/m2) -->
      <ion-item>
        <ion-label text-wrap>IMC (kg/m2)</ion-label>
        <ion-input  class="ion-text-right" formControlName="imc" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- Framingham -->
      <ion-item>
        <ion-label text-wrap>Estratificação de risco (Framingham)</ion-label>
        <ion-input  class="ion-text-right" formControlName="framingham" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Lesões Órgão Alvo -->
      <ion-item>
        <ion-label text-wrap>Estratificação de risco (Lesões Órgão Alvo)</ion-label>
        <ion-input  class="ion-text-right" formControlName="lesoes_orgao_alvo" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- ALTERAÇÃO PÉS -->
      <ion-item>
        <ion-label>Exame dos pés (Alterado?)</ion-label>
        <ion-toggle slot="end" formControlName="alteracao_pes" [disabled]="!acessoEdicao"></ion-toggle>
      </ion-item>
    
      <!-- ALTERAÇÃO PÉS - QUAL -->
      <ion-item *ngIf="form.get('alteracao_pes').value">
        <ion-label position="floating"><b>Alteração - </b>Qual</ion-label>
        <ion-input  class="ion-text-right" formControlName="alteracao_pes_qual" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- ALTERAÇÃO EXAME FÍSICO -->
      <ion-item>
        <ion-label>Exame Físico (Alterado?)</ion-label>
        <ion-toggle slot="end" formControlName="alteracao_fisico" [disabled]="!acessoEdicao"></ion-toggle>
      </ion-item>
    
      <!-- ALTERAÇÃO EXAME FÍSICO - QUAL -->
      <ion-item *ngIf="form.get('alteracao_fisico').value">
        <ion-label position="floating"><b>Alteração - </b>Qual</ion-label>
        <ion-input  class="ion-text-right" formControlName="alteracao_fisico_qual" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- FRAGILIDADE -->
      <ion-item>
        <ion-label>Tem fragilidade?</ion-label>
        <ion-toggle slot="end" formControlName="fragilidade" [disabled]="!acessoEdicao"></ion-toggle>
      </ion-item>
    
      <!-- FRAGILIDADE - QUAL -->
      <ion-item *ngIf="form.get('fragilidade').value">
        <ion-label position="floating"><b>Fragilidade - </b>Qual</ion-label>
        <ion-input  class="ion-text-right" formControlName="fragilidade_qual" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- ORIENTAÇÃO NUTRICIONAL -->
      <ion-item>
        <ion-label>Precisa de orientação nutricional?</ion-label>
        <ion-toggle slot="end" formControlName="orientacao_nutricional" [disabled]="!acessoEdicao"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="form.get('orientacao_nutricional').value" lines="none">
        <ion-text>
          Caso sinta necessidade, envia uma notificação no menu principal do paciente para o grupo específico
        </ion-text>
      </ion-item>
      
      <!-- ORIENTAÇÃO ATIVIDADE FISICA -->
      <ion-item>
        <ion-label>Precisa de atividade física?</ion-label>
        <ion-toggle slot="end" formControlName="orientacao_atividade_fisica" [disabled]="!acessoEdicao"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="form.get('orientacao_atividade_fisica').value" lines="none">
        <ion-text>
          Caso sinta necessidade, envia uma notificação no menu principal do paciente para o grupo específico
        </ion-text>
      </ion-item>

    </ion-item-group>

    <ion-button block color="primary" expand="full" type="submit" *ngIf="acessoEdicao" [disabled]="form.invalid">
      Salvar
    </ion-button>
  </form>
</ion-content>
