<ion-content>
  <div id="header2" class="header-pequeno">
    <ion-buttons slot="start" id="btn-voltar">
      <ion-back-button defaultHref="/home"></ion-back-button> VOLTAR
    </ion-buttons>
  
    <h1>Atualizar paciente</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="salvar()">
    <!-- NOME -->
    <ion-item>
      <ion-label position="floating">Nome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="nome" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.get('nome').invalid && form.get('nome').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Nome é obrigatório
      </ion-text>
    </ion-item>

    <!-- DATA DE NASCIMENTO -->
    <ion-item>
      <ion-label position="floating">Data de nascimento <ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime display-format="DD/MM/YYYY" formControlName="dataNascimento" cancelText="Cancelar" doneText="Ok"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="form.get('dataNascimento').invalid && form.get('dataNascimento').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Data de nascimento é obrigatório
      </ion-text>
    </ion-item>

    <!-- GENERO -->
    <ion-list>
      <ion-radio-group name="auto" formControlName="genero" >
        <ion-list-header>
          <ion-label>Gênero</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio [value]="true"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Feminino</ion-label>
          <ion-radio [value]="false"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- ESCOLARIDADE -->
    <ion-item>
      <ion-label position="floating">Escolaridade <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="escolaridade" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.get('escolaridade').invalid && form.get('escolaridade').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Escolaridade é obrigatório
      </ion-text>
    </ion-item>

    <!-- NATURALIDADE -->
    <ion-item>
      <ion-label position="floating">Naturalidade <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="naturalidade" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="form.get('naturalidade').invalid && form.get('naturalidade').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Naturalidade é obrigatório
      </ion-text>
    </ion-item>

    <!-- DATA DE ADMISSAO -->
    <ion-item>
      <ion-label position="floating">Data de nascimento <ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime display-format="DD/MM/YYYY" formControlName="dataAdmissao" cancelText="Cancelar" doneText="Ok"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="form.get('dataAdmissao').invalid && form.get('dataAdmissao').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Data de Admissão é obrigatório
      </ion-text>
    </ion-item>

    <!-- Motivo de Admissão -->
    <ion-item>
      <ion-label position="floating">Motivo de Admissão <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea formControlName="motivoAdmissao"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="form.get('motivoAdmissao').invalid && form.get('motivoAdmissao').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Motivo de Admissão é obrigatório
      </ion-text>
    </ion-item>

    <!-- FOTO -->
    <div id="foto" (click)="tirarFoto()">
      <p *ngIf="foto == 'assets/imgs/camera.png'">Clique aqui para tirar uma foto</p>
      <img [src]="foto" />
    </div>

    <!-- SALVAR -->
    <ion-button expand="full" color="primary" type="submit" [disabled]="form.invalid">
      Atualizar
    </ion-button>
  </form>
</ion-content>
