<ion-content class="content-white">
  <div id="header2" class="header-pequeno">
    <ion-buttons slot="start" id="btn-voltar">
      <ion-back-button defaultHref="/home"></ion-back-button> VOLTAR
    </ion-buttons>
  
    <h1>Ficha Avaliação</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="salvar()">
    
    
    <!-- DATA DO PRONTUARIO -->
    <ion-item>
      <ion-label text-wrap>Data da avaliação:<ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime display-format="DD/MM/YYYY" formControlName="data" cancelText="Cancelar" doneText="Ok"[disabled]="!acessoEdicao"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="form.get('data').invalid && form.get('data').touched" lines="none">
      <ion-text color="danger" class="form-error">
        Data da avaliação é obrigatório
      </ion-text>
    </ion-item>
    
    <!-- ====================== EXAMES CLÍNICOS ============================ -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label class='titulo-secao'>Exames Clínicos</ion-label>
      </ion-item-divider>

      <!-- Glicemia Capilar -->
      <ion-item>
        <ion-label text-wrap>Glicemia capilar (mg/dL3)</ion-label>
        <ion-input  class="ion-text-right" formControlName="glicemia_capilar" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- Pressão Arterial -->
      <ion-item>
        <ion-label text-wrap>Pressão arterial sistólica/diastólica (mmHg)</ion-label>
        <ion-input mask="000/000" class="ion-text-right" formControlName="pressao_arterial" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Frequência Cardíaca -->
      <ion-item>
        <ion-label text-wrap>Frequência Cardíaca (bpm)</ion-label>
        <ion-input  class="ion-text-right" formControlName="frequencia_cardiaca" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Saturação -->
      <ion-item>
        <ion-label text-wrap>Saturação de O2</ion-label>
        <ion-input  class="ion-text-right" formControlName="saturacao" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Temperatura -->
      <ion-item>
        <ion-label text-wrap>Temperatura (°C)</ion-label>
        <ion-input  class="ion-text-right" formControlName="temperatura" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- PAS tornozelo direito (mmHg) -->
      <ion-item>
        <ion-label text-wrap>PAS tornozelo direito (mmHg)</ion-label>
        <ion-input  mask="000/000" class="ion-text-right" formControlName="pas_tornozelo_direito" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- PAS tornozelo esquerdo  (mmHg) -->
      <ion-item>
        <ion-label text-wrap>PAS tornozelo esquerdo  (mmHg)</ion-label>
        <ion-input  mask="000/000" class="ion-text-right" formControlName="pas_tornozelo_esquerdo" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- PAS braquial direito (mmHg) -->
      <ion-item>
        <ion-label text-wrap>PAS braquial direito (mmHg)</ion-label>
        <ion-input mask="000/000" class="ion-text-right" formControlName="pas_braquial_direito" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- PAS braquial esquerdo (mmHg) -->
      <ion-item>
        <ion-label text-wrap>PAS braquial esquerdo (mmHg)</ion-label>
        <ion-input mask="000/000" class="ion-text-right" formControlName="pas_braquial_esquerdo" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- Índice Tornozelo Braquial Direito (mmHg) -->
      <ion-item>
        <ion-label text-wrap>Índice Tornozelo Braquial Direito (mmHg)</ion-label>
        <ion-input mask="000/000" class="ion-text-right" formControlName="indice_tornozelo_braquial_direito" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Índice Tornozelo Braquial Esquerdo (mmHg) -->
      <ion-item>
        <ion-label text-wrap>Índice Tornozelo Braquial Esquerdo (mmHg)</ion-label>
        <ion-input mask="000/000" class="ion-text-right" formControlName="indice_tornozelo_braquial_esquerdo" type="text" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
    </ion-item-group>

    <!-- ====================== DESEMPENHO FUNCIONAL ============================ -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label class='titulo-secao'>Desempenho funcional</ion-label>
      </ion-item-divider>

      <!-- Sentar e levantar -->
      <ion-item>
        <ion-label text-wrap>Sentar e Levantar da Cadeira</ion-label>
        <ion-input  class="ion-text-right" formControlName="sentar_cadeira" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- Flexão de Cotovelo -->
      <ion-item>
        <ion-label text-wrap>Flexão de Cotovelo</ion-label>
        <ion-input  class="ion-text-right" formControlName="flexao_cotovelo" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Sentar e alcançar os pés -->
      <ion-item>
        <ion-label text-wrap>Sentar e alcançar os pés</ion-label>
        <ion-input  class="ion-text-right" formControlName="sentar_pes" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>

      <!-- Timed Up -->
      <ion-item>
        <ion-label text-wrap>Timed Up and Go teste (segundos)</ion-label>
        <ion-input  class="ion-text-right" formControlName="timed_up_go" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Alcançar as costas mão direita e esquerda (cm) -->
      <ion-item>
        <ion-label text-wrap>Alcançar as costas mão direita e esquerda (cm)</ion-label>
        <ion-input  class="ion-text-right" formControlName="costas_maos" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Caminhada de 6minutos (metros) -->
      <ion-item>
        <ion-label text-wrap>Caminhada de 6minutos (metros)</ion-label>
        <ion-input  class="ion-text-right" formControlName="caminhada" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
    </ion-item-group>

    <!-- ====================== ANTROPOMETRIA ============================ -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label class='titulo-secao'>Antropometria</ion-label>
      </ion-item-divider>

      <!-- Massa corporal (kg) -->
      <ion-item>
        <ion-label text-wrap>Massa corporal (kg)</ion-label>
        <ion-input  class="ion-text-right" formControlName="massa_corporal" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Estatura(cm) -->
      <ion-item>
        <ion-label text-wrap>Estatura(cm)</ion-label>
        <ion-input  class="ion-text-right" formControlName="estatura" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- IMC (kg/m2) -->
      <ion-item>
        <ion-label text-wrap>IMC (kg/m2)</ion-label>
        <ion-input  class="ion-text-right" formControlName="imc" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
    
    </ion-item-group>

    <!-- ====================== FORÇA DE PREENSÃO MANUAL ============================ -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label class='titulo-secao'>Força de Preensão Manual</ion-label>
      </ion-item-divider>

      <!-- Tentativa 1 (kg) -->
      <ion-item>
        <ion-label text-wrap>Tentativa 1 (kg)</ion-label>
        <ion-input  class="ion-text-right" formControlName="preensao_manual1" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Tentativa 2 (kg) -->
      <ion-item>
        <ion-label text-wrap>Tentativa 2 (kg)</ion-label>
        <ion-input  class="ion-text-right" formControlName="preensao_manual2" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
      
      <!-- Tentativa 3 (kg) -->
      <ion-item>
        <ion-label text-wrap>Tentativa 3 (kg)</ion-label>
        <ion-input  class="ion-text-right" formControlName="preensao_manual3" type="number" [disabled]="!acessoEdicao"></ion-input>
      </ion-item>
    
    </ion-item-group>

    <ion-button block color="primary" expand="full" type="submit" *ngIf="acessoEdicao" [disabled]="form.invalid">
      Salvar
    </ion-button>
  </form>
</ion-content>
