#sair {
    position: absolute;
    top: 5px;
    left: 20px;
    color: white;
    width: 50px;
    text-align: center;

    border: 1px white solid;
    padding: 3px;
    border-radius: 5px;
}

#usuario {
    position: absolute;
    top: 5px;
    right: 20px;
    color: white;
    text-align: center;
}

#opcoes {
    margin-top: -30px;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-evenly;

    .opcao {
        border: 1px grey solid;
        width: 125px;
        height: 125px;
        margin: 10px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        ion-icon { font-size:50px; margin-bottom: -15px; color: grey}
    }
}