<ion-content>
  <div id="header2"  class="header-largo">
    <!-- BTN SAIR -->
    <p id="sair" (click)="sair()" class="ion-activatable ripple-parent">
      SAIR
      <ion-ripple-effect></ion-ripple-effect>
    </p>

    <!-- USUARIO -->
    <p id="usuario"> Logado como <b>{{usuario?.nome}}</b> </p>

    <h1>Casa do Pobre</h1>
    <h2>Prontuário Eletrônico</h2>
  </div>

  <div id="opcoes">
    <!-- HISTÓRICO -->
    <div class="opcao ion-activatable ripple-parent" (click)="navegar('/historico')">
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <p>Histórico</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <!-- PROFISSIONAIS -->
    <div class="opcao ion-activatable ripple-parent" (click)="navegar('/profissionais')">
      <ion-icon name="people-outline"></ion-icon>
      <p style="text-align: center;">Equipe<br/>Multiprofissional</p>      
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    
    <!-- IDOSOS -->
    <div class="opcao  ion-activatable ripple-parent" (click)="navegar('/idosos')">
      <ion-icon name="man-outline"></ion-icon>
      <p>Idosos</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <!-- IDOSAS -->
    <div class="opcao  ion-activatable ripple-parent"  (click)="navegar('/idosas')">
      <ion-icon name="woman-outline"></ion-icon>
      <p>Idosas</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <!-- CALENDARIO -->
    <div class="opcao ion-activatable ripple-parent" (click)="navegar('/calendario')">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <p style="text-align: center;">Agenda</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    
    <!-- FOTOS -->
    <div class="opcao ion-activatable ripple-parent" (click)="navegar('/fotos')">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      <p>Fotos</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <!-- NOTIFICACAO -->
    <div class="opcao ion-activatable ripple-parent" (click)="navegar('/notificacoes')">
      <ion-icon name="notifications-outline"></ion-icon>
      <p>Notificação <ion-badge color="danger" mode="ios" *ngIf="totalAvisos > 0">{{totalAvisos}}</ion-badge> </p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <!-- CONTATOS -->
    <div class="opcao ion-activatable ripple-parent" (click)="navegar('/contatos')">
      <ion-icon name="call-outline"></ion-icon>
      <p>Contatos</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <!-- RELATORIOS -->
    <!-- <div class="opcao ion-activatable ripple-parent" (click)="recursosIndisponivel()" *ngIf="usuario.nivel_acesso == 1">
      <ion-icon name="document-text-outline"></ion-icon>
      <p>Relatórios</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div> -->

    <!-- ALUNOS -->
    <div class="opcao ion-activatable ripple-parent" (click)="navegar('/alunos')" *ngIf="usuario.nivel_acesso == 1">
      <ion-icon name="people-circle-outline"></ion-icon>
      <p>Alunos</p>
      <ion-ripple-effect></ion-ripple-effect>
    </div>


  </div>

  
</ion-content>
