#conteudo {
    background: lightgrey;
    margin: -160px 20px 5px 20px;
    padding: 10px;
    border-radius: 15px 0px 15px 0px;
    color: black;
    box-shadow: grey 1px 1px 4px 2px;
    font-size: 17px;

    p { text-align: justify !important;}
}