<ion-content class="content-white">
  <div id="header2" class="header-pequeno">
    <ion-buttons slot="start" id="btn-voltar">
      <ion-back-button defaultHref="/estoques"></ion-back-button> VOLTAR
    </ion-buttons>
  
    <h1>Lista de Remédios e Suplementos</h1>
  </div> 

  <!-- BOTÂO   ADICIONAR NOVO ACOMPANHAMENTO -->
  <ion-fab vertical="top" horizontal="end" (click)="nova()" *ngIf="podeAdicionar">
    <ion-fab-button color="light" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

  <ion-list>
    <!-- ACOMPANHAMENTOS -->
    <ion-item-sliding #ionItemSliding *ngFor="let acompanhamento of acompanhamentos">
      <ion-item (click)="abrirAcompanhamento(acompanhamento)">
        <div class="acompanhamento">
          <p class="numero">
            <b>#{{acompanhamento.id}} </b>
            <ion-badge color="success" mode="ios" *ngIf="acompanhamento.aprovado">Aprovado</ion-badge>
            <ion-badge color="warning" mode="ios" *ngIf="!acompanhamento.aprovado">Aguardando aprovação</ion-badge>
          </p>
          <p class="data"><b>Data:</b> {{acompanhamento.data|dataBrasil}}</p>
          <p class="criador"><b>Por:</b> {{acompanhamento.usuario.nome}}</p>
        </div>
      </ion-item>
  
      <ion-item-options side="end" *ngIf="podeAprovar">
        <ion-item-option color="medium" *ngIf="acompanhamento.aprovado">Já aprovado</ion-item-option>
        <ion-item-option color="success" (click)="aprovar(acompanhamento)" *ngIf="!acompanhamento.aprovado">Aprovar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-button (click)="buscarMais()" expand="block" shape="round" *ngIf="maisAcompanhamentos">
    Exibir mais evoluções
  </ion-button>

  </ion-content>